.ui-autocomplete {
  background: #f5f5f5;
  max-height: 400px;
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 9999;
}
.ui-autocomplete .dropdown-item {
  border-bottom: 1px solid #eee;
}
.ui-autocomplete .dropdown-item a:hover, .ui-state-focus a {
  background: #1ABB9C;
  color: #fff !important;
}
.ui-helper-hidden-accessible {
  display: none;
}
input[readonly] {
  background: #fff !important;
}